@page "/"

<PageTitle>Mechkeebfan2</PageTitle>

<div style="text-align:center">
<h1>Witam w świecie klawiatur!</h1>
</div>

<style type=text/css>
h1
{
    color:white;
}
body
{
    background-color:#292929;
}
.Gallery
{
   background-image:url(https://i.redd.it/e6tjr40vl3z81.jpg);
}
.pic
{
    height:350px;
    width:485px;
    margin:10px;
}
</style>

<div class="Galeria">
    <img class="pic" src="https://i.redd.it/e8pcixj5jm071.png" />
    <img class="pic" src="https://i.redd.it/990i0sln3qy81.jpg" />
    <img class="pic" src="https://i.imgur.com/Ccfs1WL.jpeg" />
    <img class="pic" src="https://i.redd.it/38s4lcoqw8z81.jpg" />
    <img class="pic" src="https://i.redd.it/7tmafhd4wry81.jpg" />
    <img class="pic" src="https://i.imgur.com/RkZ1uZ2.jpeg" />
    <img class="pic" src="https://i.redd.it/mpowait3riy81.jpg" />
    <img class="pic" src="https://i.redd.it/rnfvtw2172z81.jpg" />
    <img class="pic" src="https://i.imgur.com/7IZUurw.jpg" />
</div>

